*{
    margin: 0 auto;
    padding: 0;
}
#wrapper{
    width: 800px;
    height: 800px;
    border: 3px solid black;
    text-align: center;
    background-color: chartreuse;
}
p{
    font-size: 20px;
    color: purple;
    margin-top: 50px;
}
h2{
    font-size: 40px;
    color: blue;
    margin-top: 50px;
}
#button{
    background-color: orange;
    font-size: 30px;
    margin-top: 50px;
}